:host {
  font-family: sans-serif;
  border: 2px solid rgb(54, 0, 54);
  margin: 2rem;
  padding: 1rem;
  display: block;
  width: 20rem;
  max-width: 100%;
}

form input {
  font: inherit;
  color: rgb(54, 0, 54);
  padding: 0.1rem 0.25rem;
  display: block;
  margin-bottom: 0.5rem;
}

form input:focus,
form button:focus {
  outline: none;
}

form button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid rgb(54, 0, 54);
  background: rgb(54, 0, 54);
  color: #fff;
  cursor: pointer;
}

form button:hover,
form button:active {
  background: rgb(119, 34, 119);
  border-color: rgb(119, 34, 119);
}

form button:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #fff;
  cursor: auto;
}